.title {
  color: blueviolet;
  text-align: center;
}

.container {
  width: 600px;
  height: 600px;
  background: lightblue;
  margin: auto;
  margin-top: 115px;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  height: 128px;
  width: 128px;
  background-color: palevioletred;
}
