header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
    text-decoration: none;
}

header .navbar ul {
    list-style: none;
}

.nav-menu-item {
    position: relative;
    float: left;
}

.nav-menu-link {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
}

.nav-menu-link:hover {
    background: #333;
    color: #fff;
}

.sub-nav-menu {
    padding: 0;
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;

    display: none;
}

.sub-nav-menu-item {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.nav-menu-item:focus-within > ul, 
.nav-menu-item:hover > ul { // Select only those elements which are direct children of a parent
    display: initial;
}

.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    // line-height: 60px; // Porque cuando se pase a modo movil el height pasaria de 80px a 60px
    cursor: pointer;

    display: none;
}

@media(max-width:991px) {
    header {
        padding: 20px;
    }

    .nav-toggle {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);

        display: none;
    }
    
    .navbar ul {
        padding: 0;
    }

    .nav-menu-item {
        width: 100%;
    }

    .sub-nav-menu {
        position: relative;
        width: 100%;
    }

    .sub-nav-menu-item {
        background: #eee;
    }

    .nav-menu_visible {
        display: initial;
    }
}

.menu-arrow {
    padding-left: 10px;
}
