.title {
    color: blueviolet;
    text-align: center;
}


.container {
    width: 700px;
    height: 700px;
    background: lightblue;
    margin: auto;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.card{
    height: 150px;
    width: 150px;
    background-color: palevioletred;
}


